.eighty-width{
  width: 80%;
}

.example-card {
  display:inline-block;
  min-width: 300px;
  max-width: 600px;
}

mat-card {
  margin: 0;
  padding: 0;
}

mat-card-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

mat-card-header{
  background-color: #F2F2F2;
  width: 100%;
}

::ng-deep .mat-card-header-text {
  width: 100%;
  padding-top: 16px;
}

.mat-card-title {
  font-size: 32px;
}

.mat-card-subtitle {
  font-size: 20px;
}

