<form>
	<mat-form-field class="eighty-width">
		<input type="text" placeholder="State" matInput [formControl]="stateControl" [matAutocomplete]="state">
    <mat-autocomplete #state="matAutocomplete">
      <mat-option *ngFor="let selectedState of filteredStateNames | async" [value]="selectedState">
        {{selectedState}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="eighty-width">
    <input type="text" placeholder="Town" matInput [formControl]="townControl" [matAutocomplete]="town">
    <mat-autocomplete #town="matAutocomplete">
      <mat-option *ngFor="let selectedTown of filteredTownNames | async" [value]="selectedTown">
        {{selectedTown}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>San Diego</mat-card-title>
    <mat-card-subtitle>California</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Current time : 3 pm </p>
    <p> Timzeone : PST </p>
    <p> Population : 100 </p>
    <p> Elevation : 100 </p>
    <p> Latitude: 37.39755</p>
    <p> Longitude : -87.76279 </p>
    <p> Last Update :  2011-05-14 </p>
    <button mat-flat-button color="warn" mat-button>Delete</button>
  </mat-card-content>
</mat-card>

<h3>API service testing buttons below</h3>
<div>
  <button (click)="clear(); showCities()">getCities</button>
  <button (click)="clear(); showBigCities()">getBigCities</button>
  <button (click)="clear(); showStates()">getStates</button>
  <button (click)="clear()">clear</button>
  <button (click)="clear(); makeError()">error</button>
  <span *ngIf="city">
    <p>The first city name name is "{{city[0].name}}"</p>
    <p>The first city state is "{{city[0].admin1_code}}"</p>
  </span>
    <span *ngIf="states">
    <p>The first state name is "{{states[0].name}}"</p>
    <p>The first state abbreviation is "{{states[0].abbreviation}}"</p>
  </span>
</div>
<p *ngIf="error" class="error">{{error | json}}</p>