<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>The purpose of this application is to allow a user to get details such as the timezone of a specific town within a state.
  
  To get started just type into the input boxes!
  
  City data thanks to <a href="https://github.com/rancheta/countryRegionCityJSON.git">https://github.com/rancheta/countryRegionCityJSON.git</a></p>
  
  <app-timezone-display></app-timezone-display>
</div>

